<% content_for :profile_form_actions do %>
  <% unless %w[index show].include?(action_name) %>
    <%= link_to "View", account_profile_path(@account, @metadata_profile), class: secondary_btn_classes('px-5 py-2.5') %>
  <% end %>

  <% unless action_name == 'edit' %>
    <%= link_to 'Edit', edit_account_profile_path(@account, @metadata_profile), class: primary_btn_classes('px-5 py-2.5') %>
  <% end %>
<% end %>

<div class="mx-auto sm:w-9/12 md:w-6/12 w-full">
  <h1 class="font-bold text-4xl">Editing profile</h1>
  <%= render "form", metadata_profile: @metadata_profile %>
</div>
