<div class="mx-auto sm:w-9/12 md:w-6/12 w-full">
  <h1 class="font-bold text-4xl">Editing profile</h1>

  <%= render "form", metadata_profile: @metadata_profile %>
  <hr class="my-8">
  <%= link_to "Show this profile", account_profile_path(@account, @metadata_profile), class: "btn btn-secondary" %>
  <%= link_to "Back to profiles", account_profiles_path(@account), class: "btn btn-secondary" %>
</div>