export RAILS_MAX_THREADS=1
export WEB_CONCURRENCY=0
export NGROK_AUTH_TOKEN=
# To get this path, run: ngrok config check
export NGROK_PROFILE_CONFIG_PATH=$(realpath ~/.ngrok2/ngrok.yml)
# This should be the root path for the project i.e. Rails.root
export PROJECT_ROOT=$(realpath ~/repos/account_manager)

# This will be used for access control e.g. to the Flipper feature flagging system
export ADMIN_REMOTE_IP_ADDRESSES="127.0.0.1,::1"

# App store config
export DATABASE_ROOT_DIR="${PROJECT_ROOT}/db/${RAILS_ENV:-development}"
export APP_DATABASE_NAME="account_manager_${RAILS_ENV:-development}"
export APP_DATABASE_USER=
export APP_DATABASE_PASSWORD=

# Invoice store config
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
ME_CONFIG_MONGODB_ADMINUSERNAME=
ME_CONFIG_MONGODB_ADMINPASSWORD=
ME_CONFIG_MONGODB_URL=
