---
# Test your cron expression here: https://crontab.guru/
# On job source, see: https://github.com/sidekiq-cron/sidekiq-cron?tab=readme-ov-file#schedule-vs-dynamic-jobs
sync_paypal_products_job:
  cron: '0 4 * * 6' # At 04:00 on Saturday
  class: 'PayPal::SyncProductsJob'
  source: schedule # default: dynamic
  queue: yeet

fetch_paypal_invoices_job:
  cron: '0 18 * * 1-6' # At 18:00 from Monday to Saturday
  class: 'PayPal::FetchInvoicesJob'
  source: schedule # default: dynamic
  queue: yeet
