# Options here can still be overridden by cmd line args.
:verbose: <%= ENV['RAILS_ENV'] == 'development' %>
:concurrency: 5
:timeout: 25

# Sidekiq will run this file through ERB when reading it so you can
# even put in dynamic logic, like a host-specific queue.
# https://www.mikeperham.com/2013/11/13/advanced-sidekiq-host-specific-queues/
:queues:
  - critical
  - <%= `hostname`.strip %>
  - default
  - yeet

development:
  :concurrency: 2
production:
  :concurrency: 10
