<p class="text-4xl md:text-5xl lg:text-6xl font-bold tracking-wider text-gray-300 mt-2">
  Page Not Found
</p>
<p class="text-lg md:text-xl lg:text-2xl text-gray-500 my-12">
  Sorry, the page you are looking for could not be found. If you are the application owner check the logs for more information.
</p>
<a href="<%= cta_resource_url %>" class="flex items-center space-x-2 btn btn-primary" title="<%= cta_label %>">
  <span class="fa-solid fa-house"></span>
  <span><%= cta_label %></span>
</a>
