<p class="text-4xl md:text-5xl lg:text-6xl font-bold tracking-wider text-gray-300 mt-2">
  We're sorry this happened...
</p>
<p class="text-lg md:text-xl lg:text-2xl text-gray-500 my-12">
  Something went wrong.If you are the application owner check the logs for more information.
</p>
<%= render 'errors/links' %>