<p class="text-4xl md:text-5xl lg:text-6xl font-bold tracking-wider text-gray-300 mt-2">
  The change or resource you requested was rejected
</p>
<p class="text-lg md:text-xl lg:text-2xl text-gray-500 my-12">
  Maybe you tried to change something you didn't have access to. If you are the application owner check the logs for more information.
</p>
<%= render 'errors/links' %>