---
http_interactions:
- request:
    method: get
    uri: https://api-m.sandbox.paypal.com/v2/invoicing/invoices?page=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      paypal-debug-id:
      - ba401ec6fa623
      edge-control:
      - max-age=0
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"INV2-MG8P-GMSG-JNK2-G3WX","status":"SENT","detail":{"currency_code":"USD","note":"Hi
        Trevor!\r\n\r\nYour current registration for 360supplychain.com is good until
        09/2019.","invoice_number":"2021-EST014","invoice_date":"2024-03-09","payment_term":{"due_date":"2024-03-09"},"viewed_by_recipient":true,"group_draft":false,"metadata":{"create_time":"2024-03-09T12:00:19Z"}},"invoicer":{"email_address":"paypal@larcity.com"},"primary_recipients":[{"billing_info":{"business_name":"360
        Supply Chain Solutions LTD","name":{"given_name":"Trevor","surname":"Frantz","full_name":"Trevor
        Frantz"},"email_address":"trevor_frantz@yahoo.co.uk"}}],"amount":{"currency_code":"USD","value":"12.00"},"due_amount":{"currency_code":"USD","value":"12.00"},"links":[{"href":"https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX","rel":"self","method":"GET"},{"href":"https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX","rel":"replace","method":"PUT"},{"href":"https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX/cancel","rel":"cancel","method":"POST"},{"href":"https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX/remind","rel":"remind","method":"POST"},{"href":"https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX/payments","rel":"record-payment","method":"POST"},{"href":"https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX/generate-qr-code","rel":"qr-code","method":"GET"}],"recurring_Id":"RI-42C626788M529081F","unilateral":false},{"id":"INV2-K3QF-Q5H3-V925-QV9Y","status":"PAID","detail":{"currency_code":"USD","note":"Thank
        you for being a great Customer!\n\nNOTES:\nGandi.net has increased their hosting
        prices from $7/mo. to $10/mo. for the Small+SSL hosted Wordpress Instance
        starting Jan 12, 2024\n\nThe Gandi.net current rate for renewal of NOTACOMPANY.COM
        is $23.99 \n\nLet us know if you have any questions @ support@larcity.com.","invoice_number":"2021-EST013","invoice_date":"2023-12-01","payment_term":{"due_date":"2023-12-16"},"viewed_by_recipient":false,"group_draft":false,"metadata":{"create_time":"2023-12-01T12:01:18Z"}},"invoicer":{"email_address":"paypal@larcity.com"},"primary_recipients":[{"billing_info":{"business_name":"NOTACOMPANY
        LTD","name":{"given_name":"Alozie","surname":"Obuh","full_name":"Alozie Obuh"},"email_address":"alozie.obuh@gmail.com"}}],"amount":{"currency_code":"USD","value":"386.19"},"due_amount":{"currency_code":"USD","value":"0.00"},"payments":{"paid_amount":{"currency_code":"USD","value":"386.19"}},"links":[{"href":"https://api.paypal.com/v2/invoicing/invoices/INV2-K3QF-Q5H3-V925-QV9Y","rel":"self","method":"GET"}],"recurring_Id":"RI-7R0950349X277721A","unilateral":false},{"id":"INV2-2D2H-6HJA-BUPH-AS4L","status":"PAID","detail":{"currency_code":"USD","note":"Hi
        Trevor!\r\n\r\nYour current registration for 360supplychain.com is good until
        09/2019.","invoice_number":"2021-EST012","invoice_date":"2023-03-09","payment_term":{"due_date"[...]
[...]
