---
http_interactions:
- request:
    method: get
    uri: https://api-m.sandbox.paypal.com/v2/invoicing/invoices?page=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - Basic FakeAuthToken
  response:
    status:
      code: 200
      message: OK
    headers:
      paypal-debug-id:
      - f721011540f7b
      http_x_pp_az_locator:
      - ccg18.slc
      content-type:
      - application/json
      x-backend-info:
      - v=1;name=2k1u3gOGb2cebCyZJujTUN--F_ccg18_wju_origin_api_m_2_sandbox_paypal_com;ip=34.106.111.220;port=443;ssl=1;max=200;ka_ns=0;tka_s=300;tki_s=10;tkp=3;host=api-m.sandbox.paypal.com;min_tls=;max_tls=;sni=edge.sandbox.paypal.com;cert_host=edge.sandbox.paypal.com;ciphers=;check_cert=1;no_reneg=1;to_ns=1000000000;fbto_ns=59000000000;bbto_ns=10000000000
      edge-control:
      - max-age=0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 28 Nov 2024 10:03:57 GMT
- request:
    method: get
    uri: https://api-m.paypal.com/v2/invoicing/invoices?page=1&page_size=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - Basic FakeAuthToken
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      paypal-debug-id:
      - 328d30a647b40
      edge-control:
      - max-age=0
    body:
      encoding: UTF-8
      string: |-
        {
          "items": [
            {
              "id": "INV2-MG8P-GMSG-JNK2-G3WX",
              "status": "SENT",
              "detail": {
                "currency_code": "USD",
                "note": "Hi Chuji!\r\n\r\nYour current registration for 360supplychain.com is good until 09/2019.",
                "invoice_number": "2021-EST014",
                "invoice_date": "2024-03-09",
                "payment_term": {
                  "due_date": "2024-03-09"
                },
                "viewed_by_recipient": true,
                "group_draft": false,
                "metadata": {
                  "create_time": "2024-03-09T12:00:19Z"
                }
              },
              "invoicer": {
                "email_address": "rodrigo.boehm@schultz.test"
              },
              "primary_recipients": [
                {
                  "billing_info": {
                    "business_name": "Blake",
                    "name": {
                      "given_name": "Morgan",
                      "surname": "Emerson",
                      "full_name": "Rory"
                    },
                    "email_address": "fidel@cronin.example"
                  }
                }
              ],
              "amount": {
                "currency_code": "USD",
                "value": "12.00"
              },
              "due_amount": {
                "currency_code": "USD",
                "value": "12.00"
              },
              "links": [
                {
                  "href": "https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX",
                  "rel": "self",
                  "method": "GET"
                },
                {
                  "href": "https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX",
                  "rel": "replace",
                  "method": "PUT"
                },
                {
                  "href": "https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX/cancel",
                  "rel": "cancel",
                  "method": "POST"
                },
                {
                  "href": "https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX/remind",
                  "rel": "remind",
                  "method": "POST"
                },
                {
                  "href": "https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX/payments",
                  "rel": "record-payment",
                  "method": "POST"
                },
                {
                  "href": "https://api.paypal.com/v2/invoicing/invoices/INV2-MG8P-GMSG-JNK2-G3WX/generate-qr-code",
                  "rel": "qr-code",
                  "method": "GET"
                }
              ],
              "recurring_Id": "RI-42C626788M529081F",
              "unilateral": false
            },
            {
              "id": "INV2-K3QF-Q5H3-V925-QV9Y",
              "status": "PAID",
              "detail": {
                "currency_code": "USD",
                "note": "Thank you for being a great Customer!\n\nNOTES:\nGandi.net has increased their hosting prices from $7/mo. to $10/mo. for the Small+SSL hosted Wordpress Instance starting Jan 12, 2024\n\nThe Gandi.net current rate for renewal of AELNG.COM is $23.99 \n\nLet us know if you have any questions @ s[...]
[...]
