name: RSpec

on: [pull_request]

jobs:
  build:
    name: CI test suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [3.2.2]
        node-version: [18.x, 20.x]
        mongodb-version: ['7.0.6-jammy']
    env:
      CI: true
      RAILS_ENV: test
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
      PROJECT_ROOT: .
      APP_DATABASE_HOST: localhost
      APP_DATABASE_NAME: account_manager_test
      APP_DATABASE_USER: ${{ secrets.APP_DATABASE_USER }}
      APP_DATABASE_PASSWORD: ${{ secrets.APP_DATABASE_PASSWORD }}
      APP_DATABASE_PORT: 5432
      MONGODB_TEST_PORT: 27017
    services:
      postgres:
        # https://hub.docker.com/_/postgres
        image: postgres:15.4
        env:
          POSTGRES_DB: ${{env.APP_DATABASE_NAME}}
          POSTGRES_USER: ${{env.APP_DATABASE_USER}}
          POSTGRES_PASSWORD: ${{env.APP_DATABASE_PASSWORD}}
          #POSTGRES_HOST_AUTH_METHOD: trust # IMPORTANT allows all connections without a password - experimental only!
        ports:
         - '5432:5432'
        options: >- # Options for the service, in this case we want to make sure that the Postgres container passes a health check
          --health-cmd pg_isready
          --health-interval 15s
          --health-timeout 5s
          --health-retries 3
      mongodb:
        image: mongo:${{ matrix.mongodb-version }}
        ports:
          - '27017:27017'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby 3.2.2
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2

      - name: Run bundle install
        working-directory: ${{env.PROJECT_ROOT}}
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3 

      - name: Install OS libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev
          sudo apt-get install -y libvips

      - name: Setup DB
        run: bin/rake db:drop db:create db:migrate && bin/rake db:seed

      - name: Build and run tests
        run: |
          bundle exec rake db:create db:migrate
          # Run all specs except those with the option devtool: true
          bundle exec rspec --tag "~devtool"
