<% content_for :account_form_actions do %>
  <%= link_to "Back to account", account_path(@account), class: 'px-5 py-2.5 hover:underline' %>
  <% unless action_name == 'edit' %>
  <%= link_to "Back to accounts", accounts_path, class: 'px-5 py-2.5' %>
  <% end %>
<% end %>

<div class="mx-auto sm:w-9/12 md:w-6/12 w-full">
  <h1 class="font-bold text-4xl">Editing account</h1>
  <%= render "form", account: @account %>
</div>
