<div class="mx-auto sm:w-9/12 md:w-6/12 w-full">
  <h1 class="font-bold text-4xl">Editing account</h1>

  <%= render "form", account: @account %>
  <hr class="my-8">
  <%= link_to "Show this account", @account, class: "btn btn-secondary" %>
  <%= link_to "Back to accounts", accounts_path, class: "btn btn-secondary" %>
</div>